@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

/* Header section */

.logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.kosik {
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #CACFD2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav li {
    list-style: none;
    padding: 0 20px;
}

#nav li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#nav li a:hover {
    color: #088178;
}

/*Footer*/

footer {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #3586ff;
}

footer p {
    color: #000;
}

footer .wave {
    position: absolute;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animeteWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animeteWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

footer .alogo {
    border-radius: 50px;
    margin-bottom: 50px;
}

footer .logo {
    margin-bottom: 30px;
}

footer .icon {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 25px;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


footer a {
    color: #222;
    text-decoration: none;
    margin-bottom: 15px;
}

footer h4 {
    margin-bottom: 50px;
}


footer i {
    margin-right: 15px;
}

footer a:hover {
    text-decoration: underline;
}

footer h3 {
    margin-bottom: 20px;
}


footer .copyright {
    width: 100%;
    text-align: center;
}